<!doctype html>
<html lang="en">

<% include ./headers/header %>
<script type="text/javascript">
function fn_submit(){
    if($("#insertScript").val() == ""){
        alert("Script 영역에 JSON Script를 입력하십시오.");
        return;
    }

    $.ajax({        
        url: geoTracks,
        async: false,
        type: 'POST',
        data: $("#insertScript").val(),
        dataType: 'json',        
        contentType: "application/json",
        success: function (result) {
            alert("Track insert is success.");
            window.location.reload();
        },
        error: function (request, status, error) {
            alert("REST API로부터 데이터를 받아올 수 없습니다.");
        }
    });
}
</script>
<body>
    <!-- START OF SIDEBAR DIV -->
    <div id="sidebar" class="sidebar">

        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li class="active"><a href="#tracks" role="tab"><i class="fa fa-map"></i></a></li>
                <li><a href="#trackTimes" role="tab"><i class="fa fa-play"></i></a></li>
                <li><a href="#info" role="tab"><i class="fa fa-plus"></i></a></li>
                <li><a href="https://github.com/khyoo/infolab-viewer" role="tab" target="_blank"><i
                            class="fa fa-github"></i></a></li>
            </ul>
            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content" style="width: 300px;word-break: break-all;">
            <div class="sidebar-pane active" id="tracks">
                <h2 class="sidebar-header">
                    Layers & Tracks
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
                <div id="layers" class="layer-switcher"></div>                
            </div>

            <div class="sidebar-pane" id="trackTimes">
                <h2 class="sidebar-header">
                    TrackTimeLines
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
            </div>

            <div class="sidebar-pane" id="info">
                <h2 class="sidebar-header">
                    Track Insert
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>         
                <div id="trackInsert">                    
                    <div style="margin-top:10px;margin-bottom:20px;">Track Insert(JSON)</div>
                    <textarea id="insertScript" cols="33" rows="30" placeholder="Script 영역"></textarea>
                    <div><button type="button" style="background-color: #4CAF50;" onclick="javascript:fn_submit()">Create!</button></div>                    
                    <div style="margin-top:10px;margin-bottom:20px;">Sample</div>
                    <div style="width:250px;border:1px solid black">{
                        <br>&nbsp;&nbsp;
                            "name":"track_sample_1221",
                        <br>&nbsp;&nbsp;
                            "type":"Feature",
                        <br>&nbsp;&nbsp;
                            "properties":[
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                {"name":"id", "type":"integer"},
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                {"name":"class_id", "type":"text"}
                        <br>&nbsp;&nbsp;
                            ],
                        <br>&nbsp;&nbsp;
                            "geometry":[
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                {"name":"geo1", "type":"LineString"}
                        <br>&nbsp;&nbsp;
                            ]
                        <br>
                        }
                    </div>
                </div>       
            </div>

            <div class="sidebar-pane" id="settings">
                <h2 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
            </div>
        </div>
    </div>
    <!-- END OF SIDEBAR DIV -->

    <!-- DIV pour la carte -->
    <div id="map" class="sidebar-map"></div>
    
    
    <script type="text/javascript">

        var view = new ol.View({
            projection: 'EPSG:4326',
            center: [127.37859894406888, 36.38566643202036],
            zoom: 19
        });

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'VWorld 2D',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: true,
                    source: new ol.source.XYZ({
                        url: 'http://xdworld.vworld.kr:8080/2d/Base/service/{z}/{x}/{y}.png'
                    })
                }),
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'VWorld 2D 위성지도',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: false,
                    source: new ol.source.XYZ({
                        url: 'http://xdworld.vworld.kr:8080/2d/Satellite/service/{z}/{x}/{y}.jpeg'
                    })
                }),
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'OSM',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: false,
                    source: new ol.source.OSM()
                })
            ],
            view: view
        });

        
      
    </script>

<% include ./modules/layers %>

<% include ./modules/interaction %>

<% include ./modules/contextMenu %>

<% include ./modules/animate %>

<% include ./modules/misc %>

</body>

</html>