<!doctype html>
<html lang="en">

<% include ./headers/header %>
<script type="text/javascript">
function fn_submit(){
    if($("#insertScript").val() == ""){
        alert("Script 영역에 JSON Script를 입력하십시오.");
        return;
    }

    $.ajax({        
        url: geoTracks,
        async: false,
        type: 'POST',
        data: $("#insertScript").val(),
        dataType: 'json',        
        contentType: "application/json",
        success: function (result) {
            alert("Track insert is success.");
            window.location.reload();
        },
        error: function (request, status, error) {
            alert("REST API로부터 데이터를 받아올 수 없습니다.");
        }
    });
}
</script>
<body>
    <!-- START OF SIDEBAR DIV -->
    <div id="sidebar" class="sidebar">

        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li class="active"><a href="#tracks" role="tab"><i class="fa fa-map"></i></a></li>
                <li><a href="#trackTimes" role="tab"><i class="fa fa-play"></i></a></li>
                <li><a href="#info" role="tab"><i class="fa fa-plus"></i></a></li>
                <li><a href="https://github.com/khyoo/infolab-viewer" role="tab" target="_blank"><i
                            class="fa fa-github"></i></a></li>
            </ul>
            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content" style="width: 300px;word-break: break-all;">
            <div class="sidebar-pane active" id="tracks">
                <h2 class="sidebar-header">
                    Layers & Tracks
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
                <div id="layers" class="layer-switcher"></div>                
            </div>

            <div class="sidebar-pane" id="trackTimes">
                <h2 class="sidebar-header">
                    TrackTimeLines
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
            </div>

            <div class="sidebar-pane" id="info">
                <h2 class="sidebar-header">
                    Track Insert
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>         
                <div id="trackInsert">                    
                    <div style="margin-top:10px;margin-bottom:20px;">Track Insert(JSON)</div>
                    <textarea id="insertScript" cols="33" rows="30" placeholder="Script 영역"></textarea>
                    <div><button type="button" style="background-color: #4CAF50;" onclick="javascript:fn_submit()">Create!</button></div>                    
                    <div style="margin-top:10px;margin-bottom:20px;">Sample</div>
                    <div style="width:250px;border:1px solid black">{
                        <br>&nbsp;&nbsp;
                            "name":"track_sample_1221",
                        <br>&nbsp;&nbsp;
                            "type":"Feature",
                        <br>&nbsp;&nbsp;
                            "properties":[
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                {"name":"id", "type":"integer"},
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                {"name":"class_id", "type":"text"}
                        <br>&nbsp;&nbsp;
                            ],
                        <br>&nbsp;&nbsp;
                            "geometry":[
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                {"name":"geo1", "type":"LineString"}
                        <br>&nbsp;&nbsp;
                            ]
                        <br>
                        }
                    </div>
                </div>       
            </div>

            <div class="sidebar-pane" id="settings">
                <h2 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
            </div>
        </div>
    </div>
    <!-- END OF SIDEBAR DIV -->

    <!-- DIV pour la carte -->
    <div id="map" class="sidebar-map"></div>
    
    
    <script type="text/javascript">

      var projection = ol.proj.get('EPSG:4326');
      var projectionExtent = projection.getExtent();
      var mapExtent =  [-105.70160457542876, 39.799058451017345, -104.99644707392322, 40.301219114868005];
      var matrixIds = new Array(22);

      for (var z = 0; z < 22; ++z) {
        matrixIds[z] = "EPSG:4326:" + z;;
      }

      resolutions = [
            0.703125, 0.3515625, 0.17578125, 0.087890625,
            0.0439453125, 0.02197265625, 0.010986328125,
            0.0054931640625, 0.00274658203125, 0.001373291015625,
            6.866455078125E-4, 3.4332275390625E-4, 1.71661376953125E-4,
            8.58306884765625E-5, 4.291534423828125E-5, 2.1457672119140625E-5,
              1.0728836059570312E-5, 5.364418029785156E-6, 2.682209014892578E-6,
            1.341104507446289E-6, 6.705522537231445E-7, 3.3527612686157227E-7
      ];

        var view = new ol.View({
            projection: 'EPSG:4326',
            center: [127.37859894406888, 36.38566643202036],
            zoom: 3
        });

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'VWorld 2D',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: false,
                    source: new ol.source.XYZ({
                        url: 'http://xdworld.vworld.kr:8080/2d/Base/service/{z}/{x}/{y}.png'
                    })
                }),
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'VWorld 2D 위성지도',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: true,
                    source: new ol.source.WMTS({
                    url: 'http://info.rlog.kr:8077/geoserver/gwc/service/wmts',
                      layer: 'infolab:data-00013',
                      matrixSet: 'EPSG:4326',
                      format: 'image/png',
                      projection: projection,
                      tileGrid: new ol.tilegrid.WMTS({
                        origin: ol.extent.getTopLeft(projectionExtent),
                        resolutions: resolutions,
                        matrixIds: matrixIds
                      })
                    })
                }),
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'OSM',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: false,
                    source: new ol.source.OSM()
                })
            ],
            view: view
        });

        
      
    </script>

<% include ./modules/layers %>

<% include ./modules/interaction %>

<!--
<% include ./modules/contextMenu %>

<% include ./modules/animate %>

<% include ./modules/misc %>
-->
</body>

</html>


